/* Created by: Santiago Hewett
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Unit3-03-HTML-VolumeSphere
*/

body {
	background-color: #f05699;
}

h4 {
  background-color: #ff8800;
}

h5 {
  background-color: #f8a920;
}